body {
    margin: 0;
  }
  
  body,p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #1a1a1a;
  }
  
  .container,.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .clear {
    clear: both;
  }
  
  .no-after-pseudo-element:after {
    display: none !important;
  }
  
  .no-before-pseudo-element:before {
    display: none !important;
  }
  
  p {
    padding: 0;
    margin: 0px;
    text-align: left;
    line-height: 26px;
  }
  
  a {
    text-decoration: none;
    color: #1a1a1a;
  }
  
  blockquote {
    font-style: italic;
    font-size: 24px;
    padding: 0 5%;
    margin: 40px 0 60px 0;
    line-height: 34px;
    position: relative;
    text-align: center;
  }
  
  blockquote:after {
    content: ' ';
    position: absolute;
    display: block;
    width: 10%;
    margin: 20px 40%;
    border: 1px solid #e76b71;
  }
  
  a img {
    border: none;
  }
  
  a:hover {
    text-decoration: none;
    color: #212121;
  }
  
  img.responsive_image {
    max-width: 100%;
    display: block;
    margin: auto auto 20px auto;
  }
  
  h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    letter-spacing: -0.5px;
    padding: 0 0 40px 0;
    margin: 0;
  }
  
  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 22px;
  }
  
  h4 {
    font-size: 20px;
  }
  
  h5 {
    font-size: 18px;
  }
  
  h6 {
    font-size: 16px;
  }
  
  .site-header {
    background-color: #252525;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    background-clip: padding-box;
    background-size: cover;
    background-origin: padding-box;
    padding-bottom: 40px;
    position: relative;
  }
  .site-header::after {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
  }
  #static-area-header-top {
    position: relative;
    padding-top: 80px;
  }
  
  #static-area-header-top .static-header-logo {
    text-align: center;
  }
  
  #static-area-header-top .static-header-logo .site-branding {
    position: relative;
    max-width: 100%;
    display: inline-block;
    z-index: 2;
    text-transform: uppercase;
  }
  
  #static-area-header-top .static-header-logo .site-branding .site-description,#static-area-header-top .static-header-logo .site-branding .site-title {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 30px;
  }
  @media (max-width: 576px) {
    #static-area-header-top .static-header-logo .site-branding .site-description,#static-area-header-top .static-header-logo .site-branding .site-title {
      letter-spacing: 0;
    }
  }
  #static-area-header-top .static-header-logo .site-branding .site-title {
    margin-top: 30px;
    letter-spacing: 10px;
    font-size: 55px;
    font-weight: 700;
  }
  
  .cherry-btn {
    white-space: nowrap;
    background: #fff;
    color: #1a1a1a;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-weight: 500;
  }
  
  .cherry-btn:hover {
    background: #1a1a1a;
    color: #fff;
    cursor: pointer;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  
  .cherry-btn.cherry-btn-medium {
    font-size: 14px;
    line-height: 30px;
    padding: 10px 33px 10px 33px;
  }
  
  .box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 570px;
    margin-bottom: 143px;
    white-space: normal;
    margin: auto;
    z-index: 3;
  }
  
  .box .cherry-btn {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -22px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  
  .box h3 {
    text-transform: uppercase;
    letter-spacing: 12.3px;
    color: #fff;
    margin-bottom: 0;
    line-height: 51px;
  }
  
  .box--skin-1 {
    position: relative;
    padding: 84px 52px;
    border: 7px solid #fff;
  }
  
  .box--skin-2 {
    position: relative;
    padding: 40px 56px;
    border: 7px solid #fff;
  }
  
  #entry-content {
    padding-bottom: 50px;
  }
  
  .entry-content__content-header {
    padding-top: 100px;
  }
  
  @media (max-width: 576px) {
    .entry-content__content-header {
      padding-top: 50px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  .entry-content__content-header h2 {
    font-size: 50px;
    padding-bottom: 10px;
  }
  
  .entry-content__content-header h4 {
    font-size: 30px;
  }
  
  .entry-content__content-header .cherry-btn-add-more {
    display: inline-block;
    background: #1a1a1a;
    margin: 40px auto auto;
    color: #fff;
    border: 2px solid #1a1a1a;
  }
  
  .entry-content__content-header .cherry-btn-add-more:hover {
    background: transparent;
    color: #1a1a1a;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  
  .entry-content__category {
    margin-top: 60px;
  }
  
  .entry-content__category__item {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  @media (max-width: 576px) {
    .entry-content__category__item {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .entry-content__category__item:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
  }
  
  .entry-content__category__item:hover {
    cursor: pointer;
  }
  
  .entry-content__category__item:hover:before {
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    background: rgba(0,0,0,0.7);
  }
  .entry-content__category__item > a > img{
    max-width: 370px;
    min-width: 370px;
  }
  .entry-content__category__item>a>h3 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-bottom: 0;
    padding: 0 30px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #fff;
  }
  
  .entry-content__project__item {
    margin-left: 0;
    margin-right: 0;
    -webkit-flex-basis: 33.3333333%;
    -ms-flex-preferred-size: 33.3333333%;
    flex-basis: 33.3333333%;
    background: rgba(0,0,0,0.2);
  }
  @media (max-width: 576px) {
    .entry-content__project__item {
      flex-basis: 100%;
    }
  }
  .entry-content__project__item>a>h3 {
    letter-spacing: 9px;
  }
  .entry-content__project__item__images {
      height: 335.369px
  }
  .entry-content__project__item:hover:before {
    width: 80%;
    height: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #252525;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
  
  .entry-content__project__item:hover>a.cherry-btn {
    display: block;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
  
  .entry-content__project__item>a>h3 {
    top: 30%;
  }
  
  .entry-content__project__item>a>img {
    width: 100%;
  }
  
  .entry-content__project__item>a.cherry-btn {
    position: absolute;
    bottom: 30%;
    width: 28%;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
  }
  
  .entry-content__process {
    padding-top: 84px;
    padding-bottom: 95px;
  }
  
  .entry-content__process__item {
    color: #fff;
    text-align: center;
  }
  
  .entry-content__process__item__icon {
    position: relative;
  }
  
  .entry-content__process__item__icon::before,.entry-content__process__item__icon:after {
    content: "";
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    height: 7px;
    width: 74px;
    background: #fff;
  }
  
  .entry-content__process__item__icon::before {
    left: 0;
  }
  
  .entry-content__process__item__icon::after {
    right: 0;
  }
  
  .entry-content__process__item__title {
    font-weight: 400;
    margin-top: 30px;
    font-size: 30px;
  }
  
  .entry-content__process__box {
    margin-top: 100px;
    max-width: 100%;
    text-align: center;
  }
  
  .entry-content__process__box>h3 {
    font-size: 40px;
    letter-spacing: 15px;
  }
  @media (max-width: 576px) {
    .entry-content__process__box>h3,.entry-content__process__box>h4 {
      letter-spacing: 0;
    }
  }
  .entry-content__process__box>h4 {
    color: #fff;
    letter-spacing: 10px;
  }
  
  .entry-content__wrap {
    position: relative;
    padding: 50px;
  }
  
  .entry-content__wrap:before {
    content: "";
    display: block;
    width: 60%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
  }
  
  .entry-content__wrap__item__title {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
    padding-bottom: 0;
  }
  
  .entry-content__wrap__item__entry {
    margin-top: 30px;
  }
  
  .entry-content__wrap__item__more {
    margin-top: 35px;
    display: inline-block;
    border-bottom: 2px solid #151514;
  }
  
  .entry-content__wrap__img > img {
    padding-left: 40px;
    max-width: 640px;
  }
  @media (max-width: 576px) {
    .entry-content__wrap__img > img {
      max-width: 100%;
      margin-top: 30px;
    }
    div.entry-content__wrap-group__item-listing__img, div.entry-content__wrap-group__item-listing__group,
    a.entry-content__wrap-group__item-listing {
      flex-basis: 100%;
    }
    .entry-content__wrap-group__right {
      display: none;
    }
    a.entry-content__wrap-group__item-listing {
      max-height: inherit;
    }
    div.entry-content__wrap-group__item-listing__img:before {
      display: none;
    }
  }
  .entry-content__wrap-group {
    margin-top: 40px;
  }
  .entry-content__wrap-group__item-listing:first-child{
      margin-top: 0;
  }
  .entry-content__wrap-group__item-listing {
    -webkit-flex-basis: 65%;
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
    margin-top: 80px;
    max-height: 240px;
  }
  
  .entry-content__wrap-group__item-listing__img {
    position: relative;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  
  .entry-content__wrap-group__item-listing__img:before {
    border-top: 3px solid #f3d169;
    content: "";
    display: block;
    position: absolute;
    bottom: -44px;
    width: 100%;
    z-index: 0;
  }
  
  .entry-content__wrap-group__item-listing__img>img {
    width: 100%;
    height: 100%;
  }
  
  .entry-content__wrap-group__item-listing__group {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 45px;
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #dfdfdf;
  }
  
  .entry-content__wrap-group__item-listing__title {
    font-size: 20px;
    font-weight: 500;
  }
  
  .entry-content__wrap-group__item-listing__des {
    margin-top: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
    padding-bottom: 0;
  }
  
  .entry-content__wrap-group__item-listing__detail-blog-title {
    margin-top: 25px;
    padding-bottom: 20px;
  }
  
  .entry-content__wrap-group__item-listing__detail-blog-author,.entry-content__wrap-group__item-listing__detail-blog-date {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    font-size: 13px;
    font-style: italic;
  }
  
  .entry-content__wrap-group__item-listing__detail-blog-content {
    margin-top: 15px;
  }
  @media (max-width: 576px) {
    .entry-content__wrap-group__item-listing {
      padding: 0 15px;
    }
  }
  .entry-content__wrap-group__right {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    padding-left: 5%;
  }
  
  .entry-content__wrap-group__right__banner {
    margin-top: 20px;
  }
  
  .entry-content__wrap-group__right__banner>img {
    margin: auto;
    display: block;
  }
  
  .entry-content__wrap-group__right__quote__title {
    position: relative;
  }
  
  .entry-content__wrap-group__right__quote__title:after {
    border-top: 3px solid #f9edc8;
    content: "";
    display: block;
    position: absolute;
    bottom: 4px;
    width: 100%;
    z-index: 0;
  }
  
  .entry-content__wrap-group__right__quote__title>span {
    font-weight: 500;
    position: relative;
    top: 3px;
    z-index: 1;
    padding-right: 10px;
    background: #fff;
  }
  
  .entry-content__wrap-group__right__quote__box {
    margin-top: 30px;
    color: #a1a1a1;
    font-size: 15px;
  }
  
  .entry-content__wrap-group__right__quote__box--author {
    color: #3e3e3e;
    font-size: 11px;
    line-height: 16px;
    margin-top: 15px;
    display: block;
  }
  
  .entry-content__slider__thumb {
    margin-top: 20px;
    padding: 10px 10px;
    background: #f1f1f1;
  }
  
  .entry-content__slider__thumb__images {
    cursor: pointer;
    padding-right: 10px;
    width: 14.2857143%;
  }
  
  .entry-content__slider__thumb__images>img {
    width: 100%;
    height: 100%;
  }
  
  .entry-content__slider__thumb__images.active {
    position: relative;
  }
  
  .entry-content__slider__thumb__images.active::before {
    position: absolute;
    content: "";
    width: 91%;
    height: 94%;
    border: 4px solid #f3d169;
  }
  
  /* .entry-content__slider__thumb__images:last-child {
    padding-right: 0;
  } */
  
  .entry-content__slider__content-group {
    display: none;
  }
  
  .entry-content__slider__content-group.active {
    display: block;
  }
  
  .entry-content__slider__content-group__images {
    -webkit-flex-basis: 65%;
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
    position: relative;
  }
  @media (max-width: 576px) {
    .entry-content__slider__content-group__images, div.entry-content__slider__content-group__box {
      flex-basis: 100%;
    }
    .entry-content__slider__thumb{
      display: none;
    }
  }
  .entry-content__slider__content-group__images>.next,.entry-content__slider__content-group__images>.prev {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
  }
  
  .entry-content__slider__content-group__images>.next {
    right: 0;
  }
  
  .entry-content__slider__content-group__images>.prev {
    left: 0;
  }
  
  .entry-content__slider__content-group__images>.main-img {
    width: 100%;
    height: 100%;
  }
  
  .entry-content__slider__content-group__box {
    -webkit-flex-basis: 35%;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    background: #e68925;
    padding: 30px;
    color: #fff;
  }
  
  .entry-content__slider__content-group__box__title {
    font-size: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
  }
  
  .entry-content__slider__content-group__box__text {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 17;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
    font-weight: 300;
  }
  .header-logo {
    margin-top: 15px;
  }
  
  .header-logo__social-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  
  .header-logo__social-icon>a {
    padding: 0 5px;
  }
  
  .header-logo__images {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  
  .header-logo__images:before {
    position: absolute;
    content: "";
    width: 100%;
    border-bottom: 3px solid #f9edc8;
    top: 45%;
  }
  
  .header-logo__images>a {
    background: #fff;
    padding: 10px 20px;
    position: relative;
    z-index: 3;
  }
  @media (max-width: 576px) {
    .header-logo__images>a > img {
      width: 70px;
    }
  }
  .header-menu {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    position: relative;
    margin-bottom: 20px;
  }
  .button-menu,.logo-mobile {
    display: none;
  }
  @media (max-width: 576px) {
    .header-logo__images,.header-logo {
      display: none;
    }
    .logo-mobile {
      background: #ffffff;
      padding: 40px 0 25px;
      top: 0;
      display: block;
      width: 100%;
      z-index: 5;
    }
    .logo-mobile.fixed {
      position: fixed;
      top: 0;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    }
    ul.header-menu.fixed{
      left: 0;
      top: 63px;
      width: 65%;
    }
    ul.header-menu{
      background: #ffffff;
      left: 0;
      top: 48px;
      z-index: 5;
      display: none;
      width: 65%;
      position: fixed;
    }
    ul.header-menu.active{
      display: block;
    }
    ul.header-menu > li {
      display: block;
      width: 100%;
      padding: 20px 0;
      border-bottom: 1px dotted #eaeaea;
    }
    ul.header-menu ul.header-menu__submenu {
      display: none!important;
    }
    ul.header-menu > li:first-child{
      border-top: 1px dotted #eaeaea;
    }
    ul.header-menu > li:last-child{
      border: none;
    }
    .header-menu__item__name:before,.header-menu__item__name::after{
      display: none;
    }
    .logo-mobile__image {
      display: block;
      position: absolute;
      left: 13px;
      top: 17px;
    }
    .logo-mobile__image > img{ 
      width: 65px;
    }
    .button-menu {
      position: absolute;
      top: 17px;
      right: 10px;
      display: block;
      cursor: pointer;
    }
  }
  
  .header-menu.fixed {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    padding: 20px 0;
    margin-top: 0;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  }
  
  .header-menu.fixed .header-menu__submenu {
    top: 55px;
    width: 97%;
  }
  
  .header-menu__item {
    list-style: none;
  }
  
  .header-menu__item:last-child .header-menu__item__name:before {
    display: none;
  }
  
  .header-menu__item__name {
    position: relative;
    padding: 11px 30px 11px 30px;
    cursor: pointer;
  }
  
  .header-menu__item__name:before {
    content: "/";
    color: #e58a22;
    position: absolute;
    top: 10px;
    right: 0;
  }
  
  .header-menu__item.dropdown.active .header-menu__submenu {
    display: block;
  }
  
  .header-menu__item.dropdown .header-menu__item__name:after {
    content: '▾';
    color: #1a1a1a;
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 11px;
  }
  
  .header-menu__submenu {
    position: absolute;
    top: 29px;
    left: 0;
    z-index: 3;
    width: 100%;
    padding: 25px 20px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    text-align: left;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #222;
    display: none;
  }
  
  .header-menu__submenu__item {
    list-style: none;
    padding: 10px;
    display: table-cell;
    width: 25%;
  }
  
  .header-menu__submenu__item__href {
    width: 100%;
    height: 100%;
    display: -webkit-inline-box;
  }
  
  .header-menu__submenu__item__href>h3 {
    display: inline-block;
    margin: 0 0 15px 0;
    font-size: 11px;
    border-bottom: 1px solid rgba(255,255,255,0.35);
    text-transform: uppercase;
    padding: 2px 0;
    font-weight: 600;
    color: #fff;
  }
  
  .header-menu__submenu__item__href>img {
    width: 100%;
    height: 100%;
  }
  
  .entry-content__type {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .entry-content__type__item {
    position: relative;
    margin-top: 60px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  
  .entry-content__type__item:hover__title {
    background: #000;
  }
  
  .entry-content__type__item:hover__title>p {
    color: #ffc400;
  }
  
  .entry-content__type__item:nth-child(even) {
    margin-top: 120px;
  }
  
  .entry-content__type__item:nth-child(even) .entry-content__type__item__title {
    padding-left: 30px;
  }
  
  .entry-content__type__item:nth-child(odd) .entry-content__type__item__title {
    bottom: 30%;
  }
  
  .entry-content__type__item__title {
    position: absolute;
    bottom: 20%;
    width: 70%;
    z-index: 2;
  }
  
  .entry-content__type__item__title>p {
    background: #e58a22;
    color: #ffffff;
    line-height: 1.7;
    display: inline;
    padding: 5px 10px 5px 10px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    -moz-box-decoration-break: clone;
    font-size: 25px;
  }
  
  .entry-content__type__item__images {
    float: right;
    position: relative;
    display: inline-block;
    min-width: 360px;
    min-height: 275px;
    overflow: hidden;
  }
  @media (max-width: 576px) {
    a.entry-content__type__item {
      flex-basis: 100%;
    }
    .entry-content__type__item__images {
      max-width: 100%;
      max-height: 100%;
    }
    .entry-content__type__item__title {
      left: 17px;
    }
  }
  .entry-content__type__item__more {
    text-decoration: inherit;
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
    padding-bottom: 3px;
    border-bottom: 2px solid #151514;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .fixed-banner {
    height: 200px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
  }
  
  .fixed-banner:before {
    background: rgba(0,0,0,0.4);
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  
  .fixed-banner>h3 {
    color: #fff;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 1;
    padding-bottom: 0;
  }
  
  .entry-content__video {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .entry-content__video__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    cursor: pointer;
    margin-top: 60px;
  }
  @media (max-width: 576px) {
    .entry-content__video__item {
      flex-basis: 100%;
    }
    div.entry-content__video__item__rs-item-content {
      padding: 0;
    }
    div.entry-content__video__item, .entry-content__video__item>img {
      width: 100%;
    }
  }
  .entry-content__video__item>img {
    margin: auto;
    display: block;
  }
  
  .entry-content__video__item__rs-item-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    padding: 0 40px;
  }
  
  .entry-content__video__item__rs-item-content__rs-item-content-left {
    border-top: 1px solid #000000;
    padding: 20px;
  }
  
  .entry-content__video__item__rs-item-content__rs-item-content-left>img {
    margin: auto;
    display: block;
  }
  
  .entry-content__video__item__rs-item-content__rs-item-content-right {
    border-top: 1px solid #000000;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 18px;
    border-left: 1px solid #000000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .entry-content__video__item__rs-item-content__rs-item-content-right>h4 {
    padding-bottom: 0;
    margin: auto;
  }
  
  #videoModal {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
  }
  
  #videoModal.active {
    display: block;
  }
  
  #videoModal:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 4;
  }
  
  #videoModal .modal-body {
    position: absolute;
    max-width: 680px;
    height: 480px;
    margin: auto;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @media (max-width: 576px) {
    #videoModal .modal-body {
      width: 100%;
      height: 250px;
    }
    #videoModal {
      width: 87%;
    }
  }
  #videoModal .modal-body>iframe {
    border: none !important;
    width: 100%;
    height: 100%;
  }
  
  .entry-content__contact {
    margin-top: 60px;
  }
  
  .entry-content__contact__info__item {
    -webkit-flex-basis: 33.3333333%;
    -ms-flex-preferred-size: 33.3333333%;
    flex-basis: 33.3333333%;
  }
  @media (max-width: 576px) {
    .entry-content__contact__info__item {
      flex-basis: 100%;
    }
    div.entry-content__contact__form__group__top>input:first-child {
      margin-left: 10px;
    }
    div.entry-content__contact__form__group__top>input:last-child {
      margin-right: 10px;
    }
    .entry-content__contact__form__group__bottom, .entry-content__contact__text {
      padding: 10px;
    }
    .entry-content__contact__form__map {
      margin-top: 20px;
    }
  }
  .entry-content__contact__info__item>img {
    display: block;
    margin: auto;
  }
  
  .entry-content__contact__info__item>h4 {
    font-size: 16px;
    margin-top: 15px;
    padding-bottom: 20px;
  }
  
  .entry-content__contact__info__item>h4,.entry-content__contact__info__item>p {
    text-align: center;
  }
  
  .entry-content__contact__form {
    margin-top: 60px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  
  .entry-content__contact__form__group__top>input {
    padding: 15px;
    margin: 0 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
  }
  
  .entry-content__contact__form__group__top>input:first-child {
    margin-left: 0;
  }
  
  .entry-content__contact__form__group__top>input:last-child {
    margin-right: 0;
  }
  
  .entry-content__contact__form__group__bottom>textarea {
    padding: 15px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
  }
  
  .entry-content__contact__form__group>.cherry-btn {
    background: #1a1a1a;
    color: #fff;
  }
  
  .entry-content__contact__form__map {
    padding: 0 40px;
  }
  
  .entry-content__contact__form__map>img {
    width: 100%;
  }
  
  .footer {
    background: #222;
    color: #999;
    font-size: 13px;
    padding: 40px 0;
  }
  
  .footer__item {
    -webkit-flex-basis: 33.3333333%;
    -ms-flex-preferred-size: 33.3333333%;
    flex-basis: 33.3333333%;
  }
  @media (max-width: 576px) {
    .footer {
      padding: 40px 15px;
    }
    .footer__item {
      flex-basis: 100%;
    }
  }
  .footer__item__header {
    padding: 15px 20px 15px 0;
  }
  
  .footer__item__header.grey {
    color: #222;
  }
  
  .footer__item__header::after {
    border-top: 1px dashed rgba(255,255,255,0.1);
    content: '';
    display: block;
    margin: 20px 0;
  }
  
  .footer__item__content>p {
    color: #999;
    font-size: 13px;
    word-break: break-word;
  }
  
  .footer__item__list {
    margin-top: 0;
    padding-left: 30px;
    list-style: none;
  }
  
  .footer__item__list__text {
    position: relative;
    padding: 5px 0;
  }
  
  .footer__item__list__text:after {
    position: absolute;
    content: "▻";
    left: -18px;
    top: 3px;
  }
  
  .footer__item__list__text>a {
    color: #999;
  }
  
  .footer__item__text {
    padding: 10px 0 20px 0;
    border-bottom: 1px dashed rgba(255,255,255,0.1);
  }
  
  .footer__item__text:first-child {
    padding-top: 0;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      padding: 0;
    }
  
    .flex {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
  